body{
    background-color: #1B244A;
    margin-top: 100px;;
}
@font-face {
    font-family:Ca;
    src: url("scoreboard.ttf");

}
.total{
    display:flex;
    justify-content: space-evenly;
  
   
  
}
h2{
    
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}
.side1{
    margin-left:50px;
}
.black-background{
    width:155px;
    height:120px;
    background-color:black;
    margin-bottom:50px;

}
h3{
    font-family:Ca;
    color:red;
    /* font-size:200px; */
    text-align:center;
    font-size: 100px;
    display:flex;
    justify-content:center;
  
    
}
button{
    padding:6px 8px;
    border-radius:5px;
    margin:0 10px;
   
    background-color: #9AABDB;
    
    border:2px solid  #9AABD8;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    height: 45px;
    width: 45px;
    left: 337px;
    top: 271px;
    border-radius: 5px;


    
}

button:hover{
    background-color: grey;
}